---
title: Erasmia Poulassichidis
---
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="light">
    <head>
      {% include head.html %}
    </head>

    <body class="h-100 d-flex flex-column">
      {% include nav.html %}
        <h1 class="text-center text-break">hello, I'm Erasmia!</h1>
        <div class="profile-pic mx-auto my-4">
          <img src="assets/me.jpg">
        </div>

        <main>
            <p class="hero-text text-center text-break">
              I am a computer science student at CU Boulder with a passion for creative technology and design.
              Currently, I am exploring my interests in VR, quantum programming, and data science.
            </p>
        </main>
        {% include footer.html %}
    </body>
</html>
